$base-font-size: 12px;
$font-sizes: (
  xxs: 0.5714,
  xs: 0.7143,
  sm: 0.8571,
  md: 1,
  lg: 1.1429,
  xl: 1.2857,
);

$colors: (
  primary: #db9e3f,
  info: #4b67af,
  success: #67c23a,
  danger: #f56c6c,
  blue: #4394e4,
  white: #fff,
  dark: #212222,
  black: #000,
);

$spacing-types: (
  m: margin,
  p: padding,
);

$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-base-size: 12px;
$spacing-sizes: (
  0: 0,
  xs: 0.5,
  sm: 1,
  md: 2,
  lg: 3,
  xl: 4,
);

// font size
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// colors
@each $colorKey, $color in $colors {
  .text-#{'' + $colorKey} {
    color: $color;
  }
  .bg-#{'' + $colorKey} {
    background: $color;
  }
}

// text-align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

// spacing
@each $typeKey, $type in $spacing-types {
  // m- p-
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  // mx-  my-
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }

  // pl- ml
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $base-font-size;
      }
    }
  }
}

$position-types: (
  float: float,
  text: text-align,
);

@each $typeKey, $typeVal in $position-types {
  @each $val in (left, right) {
    .#{$typeKey}-#{$val} {
      #{$typeVal}: $val;
    }
  }
}
